<ol>
    <div id="playlist">
    <% @playlist.each do |m| %>
        <li id=<%= m.id %>>
            <p onclick="ajaxGetJSON('<%= switch_song_path %>', <%= m.id %>)">
            <%= m.name %>
            </p>
        </li>
    <% end %>
    </div>
</ol>

<form enctype="multipart/form-data" name="upload" >
    <input name="song" type="file" /><br><br>
    <input type="button" value="Upload" id="Hey" onclick="ajaxUpload()" />
</form>
<!--
<progress></progress>
-->

<script>
  //<%= link_to "Upload", switch_new_path %>
</script>
