<%= form_for :music, url: switch_upload_path do |f| %>
    <p>
        <%= f.label :song %>
        <%= f.file_field :song %>
    </p>

    <p><%= f.submit %></p>
<% end %>

<%= link_to "Playlist", switch_music_path %>
