<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ||= 'Blog' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    function abc() {
        var $body = $("body");
        var $child = $body.children()[0]
        //alert("Hey!");
        //$body.attr("bgcolor", "black");

        if ($body.attr("bgcolor") === "black") {
            $body.attr("bgcolor", "#d0d0d0");
        }
        else {
            $body.attr("bgcolor", "black");
        }
    }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
